/* ------NavBar------*/
.navbar{
    background-color:rgb(252, 245, 245)!important;
	opacity: inherit;
	padding: 0.5rem 1rem;
	margin-bottom: 1rem;
	border-radius: 0.25rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between
}

.navbar-toggler-icon{
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}

.navbar-nav{
    margin-left:auto;
    display: flex;
    justify-content: space-between;
	
}

.navbar-nav .navitem{
    margin-right:60px;
	padding-left: 20%;

}

.nav-link{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.btn .btn-outline-success{
    font-weight:700;
}

.h1, .h2, .h3, .h4, .h5{
	margin-top: 10%;
	margin-bottom: 1rem;
	font-weight: 500;
	line-height: 1.2;
	color: var(--bs-heading-color);
}

#ziggy{
	margin-bottom: 1rem;
	font-weight: 500;
	line-height: 1.2;
	border-radius: 20px;
}

iframe{
	border-radius: 25px;
	max-width: 600px;
}

.offwhite{
	background-color: rgb(103, 109, 124);
	max-width: min-content;
}

body {
	align-items:flex-start;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 3000% 3000%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}